.product-container{
  //height: 400px;
  max-width: 400px ;
  margin-Left: 'auto';
  .imageProd{
    height: 300px;
    //height: 0px ;
    width:400px;
    padding-Top: '56.25%';
  }
  p{
    width:400px;
  }
}
