@import "../../vars.scss";

.index-container{
  flex-grow: 1;
}

.index-container > #header{
  min-height: 100vh;
  background-image: url('../../assets/imgs/background.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  > .title-container{
    @media screen and (max-width: $breakpoint){
      width: 50vw;
    }
    width: 20vw;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    > img{
      filter: invert(1);
      width: 100%;
    }
    > div{
      @media screen and (max-width: $breakpoint){
        border: 1vw solid #fff;
        margin: 2vw;
      }
      border: 0.30vw solid #fff;
      border-radius: 50%;
      margin: 0.5vw;
      position: relative;
    }
    > div:before{
      @media screen and (max-width: $breakpoint){
        width: 22vw;
        left: -25vw;
      }
      content: " ";
      width: 9vw;
      height: 0.25vw;
      position: absolute;
      left: -10vw;
      background-color: white;
      top: -0.15vw;
    }
    > div:after{
      @media screen and (max-width: $breakpoint){
        width: 22vw;
        left: 3vw;
      }
      content: " ";
      width: 9vw;
      height: 0.25vw;
      position: absolute;
      left: 1vw;
      background-color: white;
      top: -0.15vw;
    }
    > h1{
      text-align: center;
      font-size: 1.5vw;
      font-family: "Roboto", "Helvetica", "Arial", sans-serif;
      font-weight: 300;
      @media screen and (max-width: $breakpoint){
        font-size: 3.5vw;
      }  
    }
  }
  > .title-icon{
    position: absolute;
    bottom: 1vw;
    opacity: 0;
    > *{
      color: #fff;
      font-size: 3vw;
    }
  }
}

.index-container > #restaurant{
  min-height: 100vh;
}