.nav-container{
  flex-grow: 1;
  *{
    transition: all 0.5s ease-in-out;
  }

  > *{
    #logo{
      width: 6em;
    }
  }
  > .transparent{
    background-color: transparent;
    border-bottom: none;
    box-shadow: none;
    #logo{
      filter: invert(1);
      margin: 1em;
      width: 10em;
    }
    button{
      color: white;
      font-size: 1em;
    }
  }
  .right{
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
  }
  .right{
    button{
      font-weight: 400;
    }
  }
}