html{
  scroll-behavior: smooth;
}

#waiting-screen{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  img{
    max-width: 300px;
    margin-bottom: 2em;
  }
}

@font-face {
  font-family: 'Freestyle Script';
  src: url('./assets/fonts/FreestyleScript-Regular/FreestyleScript-Regular.woff2') format('woff2'),
      url('./assets/fonts/FreestyleScript-Regular/FreestyleScript-Regular.woff') format('woff'),
      url('./assets/fonts/FreestyleScript-Regular/FreestyleScript-Regular.ttf') format('truetype'),
      url('./assets/fonts/FreestyleScript-Regular/FreestyleScript-Regular.eot') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
