html{
  scroll-behavior: smooth;
}

@font-face {
  font-family: 'Freestyle Script';
  src: url('./Fonts/FreestyleScript-Regular.woff2') format('woff2'),
      url('./Fonts/FreestyleScript-Regular.woff') format('woff'),
      url('./Fonts/FreestyleScript-Regular.ttf') format('truetype'),
      url('./Fonts/FreestyleScript-Regular.svg#FreestyleScript-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
