html{
  scroll-behavior: smooth;
}

@font-face {
  font-family: 'Freestyle Script';
  src: url('./assets/fonts/FreestyleScript-Regular/FreestyleScript-Regular.woff2') format('woff2'),
      url('./assets/fonts/FreestyleScript-Regular/FreestyleScript-Regular.woff') format('woff'),
      url('./assets/fonts/FreestyleScript-Regular/FreestyleScript-Regular.ttf') format('truetype'),
      url('./assets/fonts/FreestyleScript-Regular/FreestyleScript-Regular.eot') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
